.bg-secondary {
  background: #dddf00 !important;
}

.text-primary {
  color: #67923d !important;
}

.active {
  background-color: #67923d !important;
  color: #dddf00 !important;
  border-radius: 1rem !important;
}

.navbar-nav .nav-link {
  text-align: center;
}

.dropdown-item {
  text-align: center;
}

.btn {
  background: #67923d;
  border: #67923d;
  color: #dddf00;
}

.btn:hover {
  background: #aacc00;
}

@media only screen and (min-width: 350px) and (max-width: 720px) {
  .homeCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeCard .homeCard1,
  .homeCard .homeCard2,
  .homeCard .homeCard3 {
    width: 18rem;
  }
  .homeCard .homeCard1 img,
  .homeCard .homeCard2 img,
  .homeCard .homeCard3 img {
    width: 8rem;
    margin-top: 5vh;
  }
  .homeCard .homeCard1 p,
  .homeCard .homeCard2 p,
  .homeCard .homeCard3 p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .fc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardres {
    width: auto !important;
  }
  body {
    padding-bottom: 24rem !important;
  }
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.contact-wrapper {
  -webkit-box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);
          box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);
}

.contact-form {
  background: #dddf00;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
  color: #67923d;
  font-weight: bolder;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
  color: #67923d;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #67923d;
  font-weight: 400;
  border-bottom: 1px solid #67923d;
}

.contact-form form button {
  background: #67923d;
  color: #dddf00;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 1rem;
  width: 100%;
  font-weight: 800;
  padding: 0.7em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #aacc00;
  color: #67923d;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #aacc00;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #67923d;
  font-weight: 400;
}

.contact-info h4 {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #67923d;
  font-weight: 700;
}

.contact-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #67923d;
  font-weight: 500;
}

/* Medidas grandes */
@media (min-width: 700px) {
  form {
    padding: 0 4em;
  }
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    margin: 1rem 15rem 10rem 15rem;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
}

/* Medidas Chicas */
@media only screen and (min-width: 350px) and (max-width: 720px) {
  .contact-info {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 3rem;
    height: 20rem;
  }
  .contact-form {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .contact-wrapper {
    margin: 0 1rem 8rem 1rem;
  }
  .contact-info h4 {
    padding-top: 2rem;
  }
}

.containerC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  position: absolute;
  bottom: 0px;
}

footer p {
  color: #67923d;
}

footer h4 {
  color: #67923d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: #dddf00;
}

.bg-past {
  background-image: url(../imagenes/textura-de-cesped-gratis.jpg);
}

.imgSize {
  width: 12rem;
}

/* Inicia  home */
.carousel-inner {
  border: solid #dddf00;
  -webkit-box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);
          box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
}

.homeCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}

.homeCard .homeCard1,
.homeCard .homeCard2,
.homeCard .homeCard3 {
  background: #aacc00;
  margin: 1rem 2rem 2rem 2rem;
  height: 41vh;
  text-align: center;
  border-radius: 2rem;
  -webkit-box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);
          box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);
}

.homeCard a {
  text-decoration: none;
}

.homeCard1 {
  width: 25rem;
}

.homeCard1 img {
  width: 15rem;
  margin-top: 5vh;
}

.homeCard1 p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
  padding: 1rem 2rem 0rem 2rem;
  font-weight: 800;
  color: #67923d;
}

.homeCard1:hover {
  background: #67923d;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.homeCard2 {
  width: 25rem;
}

.homeCard2 img {
  width: 15rem;
  margin-top: 5vh;
}

.homeCard2 p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
  padding: 1rem 2rem 0rem 2rem;
  font-weight: 800;
  color: #67923d;
}

.homeCard2:hover {
  background: #67923d;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.homeCard3 {
  width: 25rem;
}

.homeCard3 img {
  width: 15rem;
  margin-top: 5vh;
}

.homeCard3 p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
  padding: 1rem 2rem 0rem 2rem;
  font-weight: 800;
  color: #67923d;
}

.homeCard3:hover {
  background: #67923d;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/* Termina Servicios home */
/* Empieza Bodys*/
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 16rem;
}

/* Termina Bodys */
.cardNos {
  margin-bottom: 3rem;
  -webkit-box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);
          box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);
}

.card {
  -webkit-box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);
          box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);
}

.dropdown-item:hover {
  background-color: rgba(103, 146, 61, 0.3);
}

.nav-item:hover {
  background: rgba(103, 146, 61, 0.3);
  border-radius: 1rem;
}

.cardres {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.cardres:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.borde {
  border-radius: 1rem;
}

.borde-img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.borde-contact {
  border-start-start-radius: 1rem !important;
  border-start-end-radius: 1rem !important;
}

.m-bottom {
  margin-bottom: 4rem;
}
