$color-nav: #dddf00;
$color-card: #aacc00;
$color-letra: #67923d;
$shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.4);

// Colores Principales//
.bg-secondary {
	background: $color-nav !important;
}
.text-primary {
	color: $color-letra !important;
}
// Menu //
.active {
	background-color: $color-letra !important;
	color: $color-nav !important;
	border-radius: 1rem !important;
}
.navbar-nav {
	.nav-link {
		text-align: center;
	}
}
.dropdown-item {
	text-align: center;
}

// boton //
.btn {
	background: $color-letra;
	border: $color-letra;
	color: $color-nav;
	&:hover {
		background: $color-card;
	}
}
