@import "_variables";
@import "_contacto";
@import "_footer";

// Cambios Generales //
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: $color-nav;
}

// background //
.bg-past {
	background-image: url(../imagenes/textura-de-cesped-gratis.jpg);
}

.imgSize {
	width: 12rem;
}

/* Inicia  home */

.carousel-inner {
	border: solid $color-nav;
	box-shadow: $shadow;
	border-radius: 2rem;
}

.homeCard {
	display: flex;
	justify-content: center;
	z-index: 999;
	.homeCard1,
	.homeCard2,
	.homeCard3 {
		background: $color-card;
		margin: 1rem 2rem 2rem 2rem;
		padding-bottom: 1rem;
		text-align: center;
		border-radius: 2rem;
		box-shadow: $shadow;
	}
	a {
		text-decoration: none;
	}
}

.homeCard1 {
	width: 25rem;
	img {
		width: 15rem;
		margin-top: 5vh;
	}
	p {
		font-family: "Yanone Kaffeesatz", sans-serif;
		font-size: 2rem;
		margin-top: 1rem;
		padding: 1rem 2rem 0rem 2rem;
		font-weight: 800;
		color: $color-letra;
	}
	&:hover {
		background: $color-letra;
		transform: translateY(-1rem);
		transition: all 0.4s;
	}
}
.homeCard2 {
	width: 25rem;
	img {
		width: 15rem;
		margin-top: 5vh;
	}
	p {
		font-family: "Yanone Kaffeesatz", sans-serif;
		font-size: 2rem;
		margin-top: 1rem;
		padding: 1rem 2rem 0rem 2rem;
		font-weight: 800;
		color: $color-letra;
	}
	&:hover {
		background: $color-letra;
		transform: translateY(-1rem);
		transition: all 0.4s;
	}
}
.homeCard3 {
	width: 25rem;
	img {
		width: 15rem;
		margin-top: 5vh;
	}
	p {
		font-family: "Yanone Kaffeesatz", sans-serif;
		font-size: 2rem;
		margin-top: 1rem;
		padding: 1rem 2rem 0rem 2rem;
		font-weight: 800;
		color: $color-letra;
	}
	&:hover {
		background: $color-letra;
		transform: translateY(-1rem);
		transition: all 0.4s;
	}
}
/* Termina Servicios home */

/* Empieza Bodys*/
body {
	position: relative;
	min-height: 100vh;
	padding-bottom: 16rem;
}
/* Termina Bodys */

// Card Nosotros //
.cardNos {
	margin-bottom: 3rem;
	box-shadow: $shadow;
}

.card {
	box-shadow: $shadow;
}

// Navmenu //
.dropdown-item:hover {
	background-color: rgba(103, 146, 61, 0.3);
}
.nav-item:hover {
	background: rgba(103, 146, 61, 0.3);
	border-radius: 1rem;
}

// tarjetas servicios //
.cardres {
	width: 30rem;
	transition: transform 0.5s;
	&:hover {
		transform: scale(1.1);
	}
}
.borde {
	border-radius: 1rem;
}
.borde-img {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
// Margin bottom genral//
.m-bottom {
	margin-bottom: 4rem;
}
@media only screen and (min-width: 350px) and (max-width: 1024px) {
	.homeCard {
		flex-direction: column;
		align-items: center;
		.homeCard1,
		.homeCard2,
		.homeCard3 {
			width: 18rem;
			height: 20rem;
			img {
				width: 8rem;
				margin-top: 5vh;
			}
			p {
				font-size: 1.5rem;
				margin-top: 0.5rem;
			}
		}
	}
	.fc {
		flex-direction: column;
		align-items: center;
	}
	.cardres {
		width: auto;
	}
	body {
		padding-bottom: 24rem;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1281px) {
	.homeCard {
		.homeCard1,
		.homeCard2,
		.homeCard3 {
			margin: 1rem 0.5rem 2rem 0.5rem;
		}
	}
}
